#page
{
    text-align: center;
    margin-top: 30px;
 
}

.A
{
   padding-top: 1000px;
}


#zzz
{
position: absolute;
left: 52%;
top: 1043px;
}

#zz
{
    position: absolute;
    left: 48%;
    top: 1043px;
    
}

#z
{
    position: absolute;
    left: 44%;
    top: 1043px;;
}