#page
{
    text-align: center;
    margin-top: 30px;
 
}

#page2
{
  
  margin-left: 47%;
}

.A
{
   padding-top: 1000px;
}


#z
{   
  margin-left:45%;
  margin-top:1%;
 
}

.onsite1
{
    position: absolute;
    top: 1060px;
    left: 72%;
}


.onsite2
{
    position: absolute;
    top: 1060px;
    left: 34%;
}


.onsite3
{
    position: relative;
    top: 1060px;
    left: 50%;
}



.B
{
    position:fixed;
    top:120%;
}


#vids{

   position: relative;
   top: 80px;
   text-align: center;
}


#ok
{
    text-align: center;
   

}