body{background-color:#00FF99} /*#121127*/

.image{
    cursor: pointer;
    position: absolute;
    top: 52%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 50%;
    border-color: #363635;
    border-width: 8px;
    border-style:solid;
    filter: grayscale(100%);
    transition:all 800ms
   }


   .image:hover{
      transform:rotate(360deg);
      filter: grayscale(0%);

   }
/*fine del image*/

*{
   padding:0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

body{
   font-family: 'montserrnt' , sans-serif ;
}

nav{
   background:white;
   height: 80px;
   width: 100%;
   }


   label.logo{
      
      color:#00FF99 ;
      font-size: 30px;
      line-height: 80px;
      padding:0 100px;
      font-weight: bold;
   }


   nav ul{
      float: right;
      margin-right: 20px ;
   }

   nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
   }

   nav ul li a{
      color: black;
      font-size: 17px;
      padding:7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
   }

   a.active,a:hover{
   background:#eeff00 ; #1b9bff
   transition: 0.2s;
   }

   .checkbtn{
      font-size: 30px;
      color: #0066FF;
      float: right;
      line-height: 80px;
      margin-right:40px;
      cursor: pointer;
      display: none;
   }

   #check{
      display: none;
   }

   @media (max-width: 952px){
      label.logo{
         font-size: 40px;
         padding-left: 50px;
         padding: 30px;
      
   }

   nav ul li a{
      font-size: 16px;
   }


   @media(max-width:858px){
      .checkbtn{
         display: block;
         
      }
      

      ul{
         position: fixed;
         width: 100%;
         height: 100vh;
         background:white;
         top: 80px;
         left: -100%;
         text-align: center;
         transition: all .5s;
      }
   }
   nav ul li{
      display: block;
      margin: 10px 0;
      line-height: 30px;
   }

   nav ul li a{
      font-size: 18px;
   }

   a:hover,a.active{
   
      background: none;
      color: #0082e6;
     
   }

   #check:checked ~ ul{ 
    left: 0;
   }
}

/*fine del navbar!!!*/


/*text{
   font:bold 5rem 'Helvetica', Sans-serif;
   font-family: garamond;
   src: url('garamond-italic.ttf');
   font-style: italic;   
   text-align: center;
   background-image:url(https://images.pexels.com/photos/1058367/pexels-photo-1058367.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
   
   -webkit-background-clip: text;
 /*   -webkit-text-fill-color: transparent; 
   color: transparent; 
   
 }
*/

 

 .text {
   position: absolute;
   top: 75%; 
   right: 50%;
   transform: translate(50%,-50%);
   
   font-family: verdana;
   font-size: 70px;
   font-weight: 700;
   color: #eeff00;
   text-shadow: 1px 1px 1px  #00ff99,
       1px 2px 1px #919191,
       1px 3px 1px  #919191,
       1px 4px 1px  #919191,
       1px 5px 1px  #919191,
       1px 6px 1px  #919191,
       1px 7px 1px  #919191,
       1px 8px 1px #919191,
       1px 9px 1px  #919191,
       1px 10px 1px  #919191,
       1px 18px 6px  rgba(16,16,16,0.4),
       1px 22px 10px rgba(16,16,16,0.2),
       1px 25px 35px rgba(16,16,16,0.2),
       1px 30px 60px rgba(16,16,16,0.4);
}


.logo{
   font-family: verdana;
   
   color: green;
   text-shadow: 1px 1px 1px #919191,
       1px 2px 1px #919191,
       1px 3px 1px #919191,
       1px 4px 1px #919191,
       1px 5px 1px #919191,
       1px 6px 1px #919191,
       1px 1px 1px #919191,
       1px 1px 1px #919191,
       1px 1px 1px #919191,
       1px 1px 1px #919191,
   1px 18px 6px rgba(16,16,16,0.4),
   1px 22px 10px rgba(16,16,16,0.2),
   1px 25px 35px rgba(16,16,16,0.2),
   1px 30px 60px rgba(16,16,16,0.4);
}

.faceup{
   color: yellow;
}

/*.{
 animation: my_rotation 4s infinite ease-in-out;

}

@keyframes my_rotation{
   0%{transform: rotate(0deg);}
   20%{transform: rotate(0deg);}
   40%{transform: rotate(0deg);}
   60%{transform: rotate(-10deg);}
   80%{transform: rotate(0deg);}
   100%{transform: rotate(0deg);}

}
*/
